@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  pre {
    @apply p-4 pt-12 overflow-x-auto border rounded-md border-slate-500 text-slate-200;
  }
}

.token.comment {
  @apply text-gray-600;
}

.token.punctuation,
.token.property {
  @apply text-gray-300;
}

.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-emerald-200;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-emerald-300;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.unit {
  @apply text-blue-400;
}

.token.function,
.token.class-name {
  @apply text-pink-400;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-700;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
